<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.charm.business">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity android:name="com.charm.business.MainActivity"/>
        <activity android:name="com.charm.business.WebViewActivity"/>
        <activity android:name="com.charm.business.RegistrationStepsActivity" />
        <activity
            android:name="com.charm.business.DialogForgotPassword"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.charm.business.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.charm.business.EmployeeRegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.charm.business.OwnerRegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.charm.business.HomeActivity" />
        <activity android:name="com.charm.business.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>